@font-face {
    font-family: 'Chilanka';
    src: url('./fonts/Chilanka-Regular.ttf');
}

html {
    font-size: 1.1vw;
}

*{
    font-family: Chilanka;
}

body {
    background-color: #ccc;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;

    background-color: #cc3;
    color: #111;
    box-shadow: 10px 10px 5px #111;
    border-radius: 10px;

    margin: 10px;
    padding: 10px;
}

header h1 {
    font-size: 50pt;
    color: #111
}

section h1 {
    font-size: 30pt;
    color: #111;
    text-align: center;
}

div#classes {
    display: flex;
    justify-content: center;
}

div#classes div {
    width: 400px;
    height: 300px;
    border-radius: 5px;

    display: inline-block;
    margin: 20px;

    transition: all 0.5s;
}

div#classes div:hover {
    transform: scale(1.1);
}

div#animais, div#frutas, div#mix {
    background-size: 400px 300px;
}

div#animais {
    background-image: url('../imagens/Gatos.jpg');
}

div#frutas {
    background-image: url('../imagens/Frutas.jpg');
}

div#mix {
    background-image: url('../imagens/Interrogação.jpg');
}